<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/top_side.css}">
</head>
<body>

<th:block th:replace="~{common/dynamic_layout_fragments :: dynamicHeader}"></th:block>

<div class="main-content">
    <th:block th:replace="~{common/dynamic_layout_fragments :: dynamicSidebar}"></th:block>

    <div class="content">
        <h2>My Portfolio</h2>
        <p>Your portfolio content will appear here.</p>
    </div>
</div>
</body>
</html>